<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%- include ('partials/navigation') %>
            <main class="container vh-100 pt-5 text-center justify-content-center align-items-center">
                <section>
                    <h1 class="display-1 fw-bold">Portafolio de proyectos</h1>
                    <div class="d-flex justify-content-center align-items-center">
                        
                        <!-- Agrega la imagen aquí, ajusta la ruta de "src" según la ubicación de tu imagen -->
                        <img src="/img/img2.jpg" alt="imagen 2" class="w-50 me-3">
                        <div>
                            
                            <p>
                                Nuestro portafolio de proyectos muestra nuestra experiencia y
                el impacto que hemos tenido <br> en diversas industrias. Hemos trabajado con empresas de
                diferentes tamaños y sectores, <br> brindándoles soluciones tecnológicas a medida que han
                mejorado su eficiencia operativa <br> y su presencia en línea. Estos son algunos de nuestros
                proyectos destacados:
            </p>
            <br>
            <nav>
                
                    <li> Proyecto A: Desarrollo de una plataforma de comercio electrónico escalable para <br>
                        una empresa minorista líder.</li>
                        
                    <li> Proyecto B: Diseño y desarrollo de una aplicación móvil de reserva de citas <br> para una
                        clínica médica.</li>
                        
                    <li> Proyecto C: Implementación de un sistema de gestión de inventario personalizado <br> para
                        una cadena de distribución.</li>
    
                    <li> Proyecto D: Diseño y desarrollo de un sitio web interactivo para una <br> agencia de
                        marketing digital.</li>
            </nav>
        </section>
            <br>
            <p class="display-6 justify-content-center">
                Estos proyectos son solo ejemplos de nuestro trabajo. Estamos listos para abordar nuevos desafíos y encontrar soluciones innovadoras para tu empresa.
            </p>

            </main>
    <%- include ('partials/footer') %>

</body>
</html>