<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%- include ('partials/navigation') %>
    <main class="container vh-100 pt-3 text-center justify-content-center align-items-center">
        <section>
            <h1 class="display-1 d-flex justify-content-center fw-bold">Servicios</h1>
            <p class="d-flex justify-content-center">
                En InnovateTech Solutions, ofrecemos una amplia gama de servicios
                tecnológicos diseñados para satisfacer tus necesidades específicas. <br>Desde el desarrollo
                de aplicaciones web y móviles hasta el diseño de interfaces de usuario, estamos preparados <br>
                para enfrentar cualquier desafío tecnológico. Nuestros servicios incluyen:
            </p>
                <nav>
                    
                        <li>Desarrollo de software a medida</li>
                        <li>Diseño y desarrollo web</li>
                        <li>Desarrollo de aplicaciones móviles</li>
                        <li>Consultoría tecnológica</li>
                        <li>Integración de sistemas</li>
                        <li>Diseño de interfaces de usuario (UI/UX)</li>
                        <li>Servicios de análisis de datos</li>
                        <li>Seguridad y protección de datos</li>
                </nav>
                <br>
                
            <p class="display-6 justify-content-center">
                "Confía en nuestro equipo altamente capacitado y experimentado para brindarte soluciones
                de alta calidad que impulsen tu negocio hacia el éxito."
            </p>
        </section>
    </main>
    <%- include ('partials/footer') %>

</body>
</html>