<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%- include ('partials/navigation') %>
    <main class="container vh-100 pt-5 text-center justify-content-center align-items-center">
        <section>
            <h1 class="display-1 fw-bold">Quienes Somos</h1>
            <div class="d-flex justify-content-center align-items-center">
                
                <!-- Agrega la imagen aquí, ajusta la ruta de "src" según la ubicación de tu imagen -->
                <img src="/img/img1.jpg" alt="imagen 1" class="w-50 me-3">
                <div>
                    
                    <p>
                        Somos Innovate Tech Solutions, una empresa líder en soluciones
                        tecnológicas innovadoras. <br>
                        Nuestro equipo está compuesto por expertos apasionados por
                        la tecnología, comprometidos <br> en ofrecer 
                        resultados excepcionales a nuestros clientes.
                        Nos enfocamos <br> en impulsar el crecimiento
                        y la transformación digital de las empresas a
                        través <br> de soluciones personalizadas y vanguardistas
                        Con una combinación de
                        experiencia y creatividad, <br> estamos listos para ayudarte a alcanzar tus objetivos
                        tecnológicos y destacar en un mundo digital en constante evolución.
                    </p>
                </div>
            </div>
        </section>
    </main>

</body>
</html>