<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%- include ('partials/navigation') %>
    <main class="container vh-100 pt-3 text-center justify-content-center align-items-center">
        <section>
            <h1 class="display-1 d-flex justify-content-center fw-bold">testimonios de Clientes</h1>
            <p class="d-flex justify-content-center">
                Nuestros clientes han experimentado los beneficios de trabajar
                con InnovateTech Solutions. <br>Aquí tienes algunos testimonios que reflejan la calidad y el
                impacto de nuestros servicios:
            </p>

            <div class="container vh-150 pt-5 text-center">
                <div class="row">
                    
                    <div class="col-md-6" id="testigo1-section">
                    
                        <p>
                            •    "La colaboración con InnovateTech Solutions ha sido excepcional. <br> Han superado 
                            nuestras expectativas en términos de calidad, tiempo de <br> entrega y atención al cliente". <br>
                            -Empresa XYZ
                        </p>
                    </div>
                   
                    <div class="col-md-6" id="testigo2-section">
    
                        <p>
                            •    "El equipo de InnovateTech Solutions comprendió perfectamente <br> nuestras necesidades 
                            y nos brindó una solución personalizada que ha <br> mejorado nuestra eficiencia operativa de
                            manera significativa". <br> - Empresa ABC

                        </p>
                    </div>
                </div>
            </div>
            <div class="vh-100 pt-5 d-flex justify-content-center">
    
                <p>
                    •    "Recomendaría a InnovateTech Solutions a cualquier empresa <br> que busque soluciones 
                    tecnológicas de vanguardia. Su enfoque en la innovación y <br> la calidad es impresionante". <br>
                    - Empresa 123

                </p>
            </div>
</body>
</html>